# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Pipeline timestamp 1782141689

# Pipeline timestamp 1782141810

# Pipeline timestamp 1782141884

# Pipeline timestamp 1782142205

# Pipeline timestamp 1782144008

# Pipeline timestamp 1782149406

# Pipeline timestamp 1782151222

# Pipeline timestamp 1782153013

# Pipeline timestamp 1782156603

# Pipeline timestamp 1782158405

# Pipeline timestamp 1782160231

# Pipeline timestamp 1782162014

# Pipeline timestamp 1782162728

# Pipeline timestamp 1782164203

# Pipeline timestamp 1782164657

# Pipeline timestamp 1782165603

# Pipeline timestamp 1782167407

# Pipeline timestamp 1782169203

# Pipeline timestamp 1782171008

# Pipeline timestamp 1782172807

# Pipeline timestamp 1782174608

# Pipeline timestamp 1782178211

# Pipeline timestamp 1782181808

# Pipeline timestamp 1782183516

# Pipeline timestamp 1782183615

# Pipeline timestamp 1782185412

# Pipeline timestamp 1782187216

# Pipeline timestamp 1782189002

# Pipeline timestamp 1782190806

# Pipeline timestamp 1782192606

# Pipeline timestamp 1782194408

# Pipeline timestamp 1782196204
